.animal {
    min-height: 0;
}

.posts {
    min-height: calc(100vh - 1180px);
    margin-bottom: 150px;
}

.animal__info {
    margin-bottom: 80px;
}

.animal__pic {
    margin: 10px auto;
    text-align: center;
}

.animal__pic img {
    border: solid 5px #49413C;
    border-radius: 30px;
    background-color: #aed768d5;
    width: 80%;
    max-width: 400px;
}

.animal__name {
    font-size: 46px;
    margin: 0 auto;
    color: #9ec758;
}

.animal__properties {
    text-align: center;
    font-size: 26px;
    list-style: none;
}

.animal__category {
    font-size: 1.5em;
    margin: 60px 0 1px;
}

.animal__category-index {
    padding: 0 10px;
    width: 100%;
}

.animal__post {
    display: flex;
    align-items: center;
    width: 100%;
    height: 100px;
}

.animal__post_title {
    width: 100%;
    font-size: 26px;
    align-self: center;
}

.animal__post_img {
    width: 120px;
    height: 90px;
    object-fit: cover;
    background-color: #fafafaff;
}

.animal__post_title p {
    font-size: 20px;
    margin: 0 5px;
}


@media only screen and (max-width: 520px) {
    .animal__pic img {
        max-width: 250px;
    }

    .animal__name {
        font-size: 28px;
    }
}