.animals__index {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.animal {
    background-color: #fafafa;
    width: 300px;
    margin: 30px 12px;
    border: #49413C solid 5px;
    border-radius: 10px;
}

.animal__pic {
    margin-bottom: 10px;
    border-bottom: solid 5px #49413C;
    border-radius: 5px 5px 0 0 ;
    background-color: #aed768d5;
    width: 100%;
    z-index: -100;
}
.animal__properties {
    padding: auto;
}

.animal__name {
    margin: 0 auto;
    text-align: center;
}

li {
    list-style: none;
    margin: 0 4px;
}


@media only screen and (max-width: 520px) {
    .animal {
        width: 45%;
        border: #49413C solid 2px;
        border-radius: 5px;
        margin: 20px 5px;
    }
    .animal__pic {
        border-bottom: solid 2px #49413C;
        border-radius: 2.5px 2.5px 0 0 ;
        margin-bottom: 0;
    }

    h2 {
        font-size: 22px;
    }
    li {
        font-size: 14px;
    }
    p {
        margin: 0 4px;
        margin-bottom: 5px;
        font-size: 11px;
    }
    
}
