body {
    height: 100vh;
    width: 100vw;
    overflow-y: hidden;
}

footer {
    position: absolute;
    bottom: 0;
    width: 100%;
}
footer img {
    display: none;;
}

.home {
    margin: 0;
    text-align: center;
    width: 100vw;
    height: 100vh - 50px;
}

.home #mountain {
    position: absolute;
    display: block;
    width: 1920px;
    left: 50%;
    top: 75%;
    transform: translate(-50%, -25%);
}

#sheep1 {
    position: absolute;
    width: 400px;
    left: calc((100vw - 1920px)/2 + 700px);
    top: 75%;
    transform: translateY(-90%);
}

#sheep2 {
    position: absolute;
    width: 150px;
    left: calc((100vw - 1920px)/2 + 450px);
    top: 75%;
    transform: translateY(-240%);
}

#shop {
    position: absolute;
    width: 400px;
    left: calc((100vw - 1920px)/2 + 1260px);
    top: 75%;
    transform: translateY(-80%);

}

#game {
    position: absolute;
    width: 100px;
    left: calc((100vw - 1920px)/2 + 375px);
    top: 75%;
    transform: translateY(+20%);
    rotate: -30deg;
}

#nanimoshitakunai {
    position: absolute;
    width: 504px;
    left: calc((100vw - 1920px)/2 + 610px);
    top: 75%;
    transform: translateY(-210%);
    rotate: -10deg;
    ;
}


.home__menu {
    position: absolute;
    bottom: 50%;
    right: 8%;
    text-align: left;
}

.menu__items {
    height: 50px;
}

#pointer {
    position: absolute;
    width: 90px;
    top: -170%;
    left: -110px;
}

.home__menu a {
    margin: 0px;
    line-height: 2em;
    display: inline-block;
    transition-property: all;
    transition-duration: 0s;
    transition-delay: 0s;
    transition-timing-function: ease;
    font-size: 2.2em;
}

.home__menu li {
    list-style: none;
}



@media only screen and (max-width: 720px) {
    .home #mountain {
        left: calc((720px - 1920px)/2);
        transform: translate(0, -25%);
    }

    #sheep1 {
        left: calc((720px - 1920px)/2 + 700px);
    }

    #sheep2 {
        left: calc((720px - 1920px)/2 + 450px);
    }

    #shop {
        left: calc((720px - 1920px)/2 + 1260px);

    }

    #game {
        left: calc((720px - 1920px)/2 + 375px);
    }

    #nanimoshitakunai {
        left: calc((720px - 1920px)/2 + 610px);
    }

    .home__menu {
        left: calc((720px - 1920px)/2 + 960px);
    }


}





@media only screen and (min-width: 1920px) {
    
    .home #mountain {
        width: 100vw;
    }

    #sheep1 {
        width: 20.83%;
        left: 36.46%;
    }

    #sheep2 {
        left: 23.4375%;
        width: 7.8125%;
    }

    #shop {
        width: 20.83%;
        left: 65.62%;
    }

    #game {
        width: 5.21%;
        left: 19.53%;
    }

    #nanimoshitakunai {
        width: 26.25%;
        left: 31.7708%;
    }
    
}







/* 
@media only screen and (max-width: 960px) {
    .home__menu {
        position: absolute;
        bottom: 400px;
        right: 4%;
        text-align: left;
    }
    
    .menu__items {
        height: 40px;
    }

    .home__menu a{
        margin: 0px;
        line-height: 1.8em;
        display: inline-block;
    }

    #pointer {
        width: 75px;
        position: absolute;
        bottom: 250px;
        left: -83px;
    }
}
*/



@media only screen and (max-width: 520px) {
    #mountain-wrapper {
        position: absolute;
        width: 100%;
        top: 59.5%;
        height: 100%;
        /* transform: translateY(-25%); */
    }

    /* .home #mountain {
        position: absolute;
        display: block;
        width: 1920px;
        left: 50%;
        top: 75%;
        transform: translate(-50%, -25%);
    } */
    
    .home #mountain {
        width: 200%;
        left: -47%;
        /* top: 73%; */
        z-index: -2;
        top: 0;
        transform: none;
        /* object-fit: cover; */
        /* object-position: 0% 0%;
        transform: none; */
    }

    #sheep1 {
        top: 75%;
        width: 75%;
        left: 14%;
        z-index: -2;
    }

    #sheep2 {
        width: 13%;
        left: 1%;
        top: 71%;
    }

    #shop {
        display: none;

    }

    #game {
        width: 15%;
        left: 4%;
        top: 80%;
        rotate: -35deg;
    }

    #nanimoshitakunai {
        width: 40%;
        left: 35%;
        top: 44.5%;
        rotate: -40deg;
    }



    .home__menu {
        left: auto;
        top: 10%
    }

    .menu__items {
        height: 4.5vh;
    }
   
    #pointer {
        width: 25%;
        top: -114%;
        left: -30%;
        z-index: -1;
    }


    .home__menu li {
        list-style: none;
    }

    

    .home__menu a {
        margin: 0px;
        line-height: 6.2vh;
        display: inline-block;
        transition-property: all;
        transition-duration: 0s;
        transition-delay: 0s;
        transition-timing-function: ease;
        font-size: 2.2em;
    }

}