.post {
    background-color: #bad8ffaa;
    background-color: #f6f6f6;
    border: #657679 solid 3px;
    border-radius: 14px;
    width: 85%;
    padding: 15px 40px;
    margin: 60px auto;
}

.post__cover {
    margin-bottom: 80px;
    padding: 40px;
    text-align: center;
    width: 100%;
}

.post__img {
    margin: 0 auto;
    text-align: center;
    width: 80%;
}


.post__title {
    font-size: 48px;
    text-align: left;
}

pre {
    margin: 0px 40px;
    padding: 10px 30px;
    overflow: scroll;
    background-color: #657679 ;
    color: #eee
}