{% extends "nanimoshitakunai/base.html" %}
{% load static %}

{% block title %}どんな牧場？{% endblock %}

{% block body %}
    
    <section class="what">
        <img class="__titleimg" src="{% static 'nanimoshitakunai/imgs/about.png' %}">
        <h2>ようこそ！</h2>
        <p>勉強とか仕事とかやるべきことはあるのに、やる気がでないことはありませんか？</p>
        <p>そんなときに動物に戯れたいという声が集まり、この牧場が作られました。</p>
        <br>
        <p>そして、めんどくさいことを自動化したいので、そこらへんに詳しい動物たちも集めてみました。</p>
        <br>
        <h2>注意事項</h2>
        <li>動物たちにむやみに触ると睨まれるので気をつけてください。</li>
        <li>立ち入り禁止の場所には絶対に入らないでください。</li>

    </section>
{% endblock %}
