{% extends "nanimoshitakunai/base.html" %}

{% load static %}

{% block title %}どうぶつたち{% endblock %}


{% block css %}<link rel="stylesheet" href="{% static 'nanimoshitakunai/animals_index_style.css' %}">{% endblock %}

{% block body %}
    <section class="animals">
        <img class="__titleimg" src="{% static 'nanimoshitakunai/imgs/animals.png' %}">

        <div class="animals__index">
        {% for animal in animals %}
            <a class="animal" href="{% url 'animal' animal.id %}">
                <img class="animal__pic" src="{% static  animal.path %}">
                <div class="animal__properties">
                    <h2 class="animal__name">{{ animal.name }}</h2>
                    <li>特徴：</li>
                        <p>{{ animal.info }}</p>
                    <li>得意なこと：</li>
                        <p>{{ animal.skill }}</p>
                </div>
            </a>
            {% endfor %}
        </div>
    </section>
{% endblock %}
