{% load static %}
<!DOCTYPE html>

<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width">
    <link rel="icon" href="{% static 'nanimoshitakunai/imgs/favicon.ico' %}">
    <link rel="apple-touch-icon" href="{% static 'nanimoshitakunai/imgs/sheep1_180.png'%}">
    <link rel="stylesheet" href="{% static 'nanimoshitakunai/style_.css' %}">
    {% block css %}
    {% endblock %}

    <title>{% block title %}{% endblock%}</title>
</head>


<body>
    {% include "nanimoshitakunai_components/header.html" %}
    {% block body %}{% endblock %}
    {% include "nanimoshitakunai_components/footer.html" %}
</body>

</html>

