{% extends "nanimoshitakunai/base.html" %}
{% load static %}

{% block title %}何もしたくない牧場{% endblock %}

{% block css %}
<link rel="stylesheet" href="{% static 'nanimoshitakunai/home_style.css' %}">
{% endblock %}

{% block body %}
<div class="home">
    <div id="mountain-wrapper">
        <img id="mountain" src="{% static 'nanimoshitakunai/imgs/mountain.png' %}">
    </div>
    <img id="nanimoshitakunai" src="{% static 'nanimoshitakunai/imgs/nanimoshitakunai.png' %}">
    <img id="sheep2" src="{% static 'nanimoshitakunai/imgs/sheep2.png' %}">
    <img id="game" src="{% static 'nanimoshitakunai/imgs/game.png' %}">
    <img id="shop" src="{% static 'nanimoshitakunai/imgs/shop@2x.png' %}">
    <img id="sheep1" src="{% static 'nanimoshitakunai/imgs/sheep1@3x.png' %}">

    <div class="home__menu">
        <img id="pointer" src="{% static 'nanimoshitakunai/imgs/sheep4-longlong.png' %}">
        <li><a id="about" href="{% url 'about' %}"><img class="menu__items" src="{% static 'nanimoshitakunai/imgs/about.png' %}"></a></li>
        <li><a id="animals" href="{% url 'animals_index' %}"><img class="menu__items" src="{% static 'nanimoshitakunai/imgs/animals.png' %}"></a></li>
        <li><a id="buy" href="https://suzuri.jp/nanimoshitakunai?utm_source=others&utm_medium=social&utm_campaign=shop_share"
                target="_blank"><img class="menu__items" src="{% static 'nanimoshitakunai/imgs/buy.png' %}"></a></li>
        <li><a id="enjoy" href="{% url 'playground' %}"><img class="menu__items"
                    src="{% static 'nanimoshitakunai/imgs/enjoy.png' %}"></a></li>
        <li><a id="information" href="{% url 'faq' %}"><img class="menu__items"
                    src="{% static 'nanimoshitakunai/imgs/information.png' %}"></a></li>
    </div>
</div>

<script type="text/javascript">
    const about = document.getElementById('about');
    const animals = document.getElementById('animals');
    const buy = document.getElementById('buy');
    const enjoy = document.getElementById('enjoy');
    const information = document.getElementById('information');
    const pointer = document.getElementById('pointer')


    var y0 = 0
    var delta = 0
    
    const y0_upper720 = -170
    const delta_upper720 = 20
    const y0_under720 = -128
    const delta_under720 = 16.5

    if (window.innerWidth > 720) {
            y0 = y0_upper720
            delta = delta_upper720
            console.log('720')
        } else {
            y0 = y0_under720
            delta = delta_under720
            console.log(' under 720')
            console.log(' under 720')
            console.log(y0, delta)
        }

    window.addEventListener('resize', function resizeWindow() {
        console.log('Resize');
        if (window.innerWidth > 720) {
            y0 = y0_upper720
            delta = delta_upper720
            console.log('720')
        } else {
            y0 = y0_under720
            delta = delta_under720
            console.log(' under 720')
            console.log(y0, delta)
        }
    });

    about.addEventListener('mouseover', function () {
        pointer.style.top = (y0 + 0 * delta) + '%';
    });
    animals.addEventListener('mouseover', function () {
        pointer.style.top = (y0 + 1 * delta) + '%';
    });
    buy.addEventListener('mouseover', function () {
        pointer.style.top = (y0 + 2 * delta) + '%';
    });
    enjoy.addEventListener('mouseover', function () {
        pointer.style.top = (y0 + 3 * delta) + '%';
    });
    information.addEventListener('mouseover', function () {
        pointer.style.top = (y0 + 4 * delta) + '%';
        console.log(y0, delta)
    });

</script>
{% endblock %}
