{% extends "nanimoshitakunai/base.html" %}
{% load static %}

{% block title %}{{post.title}}{% endblock %}
{% block css %}<link rel="stylesheet" href="{% static 'nanimoshitakunai/post_style.css' %}">{% endblock %}
{% block body %}


<div class="post__cover">
    <div class="post__img">
        {% if "thumbnail" in post %}
        <img src="{{ post.thumbnail.url }}">
        {% else %}
        <img src="{% static 'nanimoshitakunai/imgs/shop.png' %}">
        {% endif %}
    </div>
    <div class="post__title">
    {{post.title}}
    </div>
</div>
    
    
<section class="post">
    {% autoescape off %}
    {{post.text}}
    {% endautoescape%}
</section>
{% endblock %}
